In [2]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [19]:
DF_obj = pd.DataFrame(np.arange(36).shuffle().reshape(6,6))
DF_obj

AttributeError: 'numpy.ndarray' object has no attribute 'shuffle'

In [7]:
series_obj_1 = pd.Series([42,3,4,18,11,65])

In [13]:
series_obj_2 = pd.Series(['z','A','a','Z','Text','T','text'])

In [18]:
DF_obj.sort_values(by=[2])

    0   1   2   3   4   5
0   0   1   2   3   4   5
1   6   7   8   9  10  11
2  12  13  14  15  16  17
3  18  19  20  21  22  23
4  24  25  26  27  28  29
5  30  31  32  33  34  35